/blib
/blib/
*.bs
_build/
/.build/
Build
!Build/
Build.bat
/cover_db/
cover_db/
inc/
.last_cover_stats
/Makefile
/Makefile.old
/MANIFEST.bak
/META.*
/MYMETA.*
/nytprof/
nytprof.out
*.o
Perl5-Build-Warnings-*.tar.gz
/pm_to_blib
*.swp
